[submodule "lib/tinyusb"]
	path = Library/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "Library/printf"]
	path = Library/printf
	url = https://github.com/eyalroz/printf.git
	branch = develop
[submodule "Library/cb0r"]
	path = Library/cb0r
	url = https://github.com/203Electronics/cb0r.git