[submodule "Library/tinyusb"]
	path = Library/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "Library/printf"]
	path = Library/printf
	url = https://github.com/eyalroz/printf.git
[submodule "Library/cb0r"]
	path = Library/cb0r
	url = https://github.com/203-Systems/cb0r.git
[submodule "Library/ArduinoJson"]
	path = Library/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
	branch = 7.x
